{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block title %}Apply as Facilitator - Tech School{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Apply to Become a Facilitator</h3>
                </div>
                <div class="card-body">
                    <p class="lead">This feature is currently under development.</p>
                    <p>Please check back soon to apply as a facilitator.</p>
                    <a href="{% url 'landing' %}" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}